services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/code
    ports:
      - "8000:8000"


  redis:
    image: redis:7
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    env_file:
      - .env
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]

  tests:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_tests
    env_file:
      - .env
    depends_on:
      - redis
    command: pytest .